{% extends 'base.html' %}
<div>



    {% block content %}
    
    {% for p in myresponse  %}
     {% comment %} <h1> Yes: {{myresponse}}  </h1> {% endcomment %}
   <img src=" {{myresponse.urlToImage}} " alt="...">  
    <h4 style="color:red;">{{p.anime_name}}</h4>
 
    {% endfor %}
    <div style="color:red;font-size:40px;font-weight:bold;">AnimeID:{{data.anime_id}}</div>
   <div style="color:red;font-size:40px;font-weight:bold;">AnimeName:{{data.anime_name}}</div>
   <img src=" {{anime_img.urlToImage}} " alt="...">  
     
 
    {% comment %} <pre> {{myresponsedata}}</pre> {% endcomment %}
    
  {% for i in response  %}
  {{i}}
  {% endfor %}

    
    {% endblock content %}




    
</div>